# ignore python files
__pycache__/

# ignore env file
.env

# ignore data directory
data/
.venv/

# ignore uv
uv.lock

# ignore terraform
terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/keys/*
terraform/terraform.tfstate