# ignore python files
__pycache__/

# ignore venv
.venv/

# ignore uv
uv.lock

# ignore terraform
.terraform.lock.hcl
terraform.tfstate*
.terraform/

# ignore secrets
secrets.toml

# ignore vscode
.vscode/

logs/

keys/

pyproject.toml